In [1]:
# check for retweets..
# visulalize heat map of those that only follow each other..
# user-user graph of who follow each other

In [97]:
import pandas as pd
import numpy as np
import nltk
import re
from datetime import date, datetime
import time
import matplotlib.pyplot as plt
import urllib.request
from tqdm import tqdm
import pickle
import random
import ast
import networkx as nx
import ast
import os
from tweepy import OAuthHandler
import tweepy

In [144]:
# following data for user...
df_300 = pd.read_csv("~/Following300_1220.csv",index_col=0)
df_keys = pd.read_csv("~/keys.csv",encoding = "utf-8")
df_user = pd.read_csv("/home/akshayuppal3/hexagonData.csv",lineterminator="\n")

In [170]:
users = list(df_user.userID.unique())

In [172]:
len(users)

7372

In [10]:
foll = ast.literal_eval(df_300.loc[778352663612174336]['following'])

In [13]:
for index,row in df_300.iterrows():
    foll = ast.literal_eval(row['following'])
    print(len(foll))

509
886
339
518
745
407
50
1402
190
400
2252
997
2465
574
874
1366
352
749
12
65
38
5000
106
1694
394
900
399
1554
2919
1880
484
289
241
287
445
4620
538
2271
5000
192
2091
794
172
389
546
322
50
557
622
670
296
526
2150
1509
5000
66
746
2130
196
142
1017
410
1371
3048
5000
4735
371
840
1406
2553
5000
232
1344
4948
480
334
481
75
44
2103
304
0
326
464
874
180
410
42
339
922
776
24
1341
3118
189
137
323
5000
200
431
237
83
609
559
960
150
5000
4
675
2223
1285
2738
144
2088
768
600
2165
86
2374
510
476
5000
2343
2819
209
398
485
1698
344
1544
4981
2698
2105
1575
72
3183
1316
909
4
2248
142
2060
164
439
3
189
1580
995
2893
657
155
333
412
159
45
450
402
320
7
800
4214
318
65
75
303
179
1152
395
524
8
102
3447
224
468
4919
259
250
3950
41
295
154
741
831
272
50
15
177
302
1148
1383
49
0
957
5000
450
257
2386
4823
527
441
128
349
1527
791
3400
197
700
4603
457
747
211
4996
278
9
298
929
704
756
540
2310
60
382
217
248
43
289
177
1008
458
237
324
41
13
120
5000
252
13
108
195
412
624
251
293
300
5000
35
465
1937
7
1378
110
3361
1834
148
1778
344
2402
85
4988
138
87
1447
800
1378
94
494
262
543
281
3
294
187
900
280
5000
422
521
56
4404
2740
880

In [115]:
df_keys

,consumer_key,consumer_secret,access_token,access_secret
0,EiLaKLlGvXdakLsKf7yi86pVo,CWK0UzygY5sGD7lXEz9xOklaH7Fq6uaVyJ3ZZlEXXpYke1...,1069034330385715200-nq6kISbrjP3AcCBtvIbgepOxAe...,ahVZbT8Y8ydpRJGWzIkmSiIV0yiWsg5pB4ToMqOLhUjMk
1,D3FYC1mjWNDWgoHtyoCnEcLJS,usDBtyz12FxBhbauvL9BeHQ8SZ10DS0id2z1oR2oXcN9h7...,1080997779093245952-JXWQNvn4LCuuLiwc8S3EMZJV7o...,R0y0OouZoBZzwgNQ31TVJ3KaenmI8u1Tb3QuV6EEny4y2
2,QdZhej7MeKeUuQiQCS0r5clCv,gF9oH8bW2xsoFi3S6GLikjpKI5tTB47z5RNXkEsCHVAzMT...,1080997779093245952-IfCUS8uqO4lIHbqXY57xgnjYEi...,ovbhWLeyNgdsVu7xm0HwSRwllwmuqx6CLGLVG1quKQdzA
3,ltmvhNbs9vjlilzF7R4qCVwUL,5vkvaKnT5AEfDvTxmQhazyiMFjyzf4SY5R8CzOOWbIcQT8...,1080997779093245952-S3bftmc6vqUEi1MqpPJBUMBjZM...,ERN4XWHcOxxRcqUYsTEIHcEoOEOx1xV1S9cJGgPPQRnde

In [119]:
# @param: row_obj @return api
def authorization(ob):
    consumer_key = ob.consumer_key
    consumer_secret = ob.consumer_secret
    access_token = ob.access_token
    access_secret = ob.access_secret
    author = OAuthHandler(consumer_key, consumer_secret)
    author.set_access_token(access_token, access_secret)
    # change to accomodate rate limit errors
    api = tweepy.API(author, wait_on_rate_limit=True, wait_on_rate_limit_notify=True, retry_count=5, retry_delay=5)
    return (api)

In [30]:
api_list = list()
df_keys = pd.read_csv("~/keys.csv",index_col=None)
df_keys.columns

Index(['ï»¿consumer_key', 'consumer_secret', 'access_token', 'access_secret'], dtype='object')

In [135]:
api_list= list()
for index,row in df_keys.iterrows():
    api = authorization(row)
    api_list.append(api)

In [200]:
apis = deque(api_list)

In [231]:
for user in users[:5]:
    apis.rotate(-1)
    api  = apis[0]
    friendList = api.friends_ids(user)
    print(len(friendList))

375
923
479
61
34

## testing

In [226]:
from collections import deque
d = deque([56,33,1121,1,2])

In [229]:
a = d.rotate(-1)

In [228]:
d[0]

33

In [346]:
df_users = df_user[10:12]

In [347]:
df_users.to_csv("delete_users.csv")

In [351]:
temp = df_users.iloc[1:2]

In [337]:
temp = pd.DataFrame({'userID':12,'friendList':[[12,121,22,2,2]]})

            friendList  userID
0  [12, 121, 22, 2, 2]      12

In [354]:
with open('delete_users.csv', 'a') as f:
    temp.to_csv(f, header=False,ignore_index=True)